In [1]:
import pandas as pd
import numpy as np

In [7]:
movements_df = (
movements_df.append({'folder_name':     "2019-03-14",
                     'body':                       14,
                     'arm_and_head':               2, 
                     'head':                       1, 
                     'arm':                        2
                    }, ignore_index=True)
)
movements_df.to_csv('movements.csv', index=False)

In [8]:
movements_df

   folder_name  body  arm_and_head  head  arm
0   2019-02-25     8             1     3    7
1   2019-02-26     8             3     1    5
2   2019-02-27     7             9     3    1
3   2019-02-28     5             5     1    1
4   2019-03-01    11             4     5    1
5   2019-03-03    11             6     3    2
6   2019-03-04    12             2     2    2
7   2019-03-05     9             3     1    2
8   2019-03-06    12             4     1    2
9   2019-03-07    12             3     0    1
10  2019-03-08     7             0     0    1
11  2019-03-10    17             3     3    2
12  2019-03-11     8             0     0    2
13  2019-03-12    11             1     0    1
14  2019-03-13    13             2     2    2
15  2019-03-14    14             2     1    2

In [ ]:
pd.read_csv('movements.csv')

In [5]:
movements_df = pd.DataFrame(columns=['folder_name', 'body', 
                                    'arm_and_head', 'head', 'arm'])

In [2]:
movements_df = pd.read_csv('movements.csv')